@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

body {
  background: white;
  font-family: "Poppins";
}
/* orginal color  */
.btn-green {
  background: linear-gradient(90deg, #216432 0%, #114422 89.42%);
}
.green-card {
  background: #ddf9e4;
}
.yellow-card {
  background: linear-gradient(90deg, #644d21c0 0%, #44113c9f 89.42%);
}
.blue-card {
  background: #ffeada;
}

.icon-bg {
  background-color: #e9e9e975;
}
.card-1 {
  background-color: #79c4917e;
}

.card-2 {
  background: #000000;
  background: linear-gradient(
    25deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(36, 36, 28, 1) 75%,
    #248669 100%
  );
}
.card-3 {
  background: #000000;
  background: linear-gradient(
    25deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(36, 36, 28, 1) 75%,
    rgb(156, 48, 33) 100%
  );
}

.hotelAddInput {
  width: 100%;
  border-width: 1px;
  margin-top: 0.5rem; /* mt-2 */
  border-radius: 0.25rem; /* rounded */
  border-color: #d1d5db; /* border-gray-300 */
  padding-top: 0.55rem; /* py-1 */
  padding-bottom: 0.55rem;
  padding-left: 0.5rem; /* px-2 */
  padding-right: 0.5rem;
  font-size: 1.125rem; /* text-lg */
  outline: none;
  color: #333333;
}
.tint {
  background-color: rgba(0, 0, 0, 0.521);
}
.btn-brown {
  background: #af4300;
  background: linear-gradient(
    25deg,
    rgba(175, 67, 0, 1) 0%,
    rgba(175, 67, 0, 0.87) 75%
  );
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.tab-bg {
  background-color: rgba(243, 240, 238, 0.991);
}
.bg-active {
  background-color: rgb(165, 101, 42);
}
.tint-blur {
  background-color: rgba(255, 255, 255, 0.329);
  backdrop-filter: blur(4px);
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #064737;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

.hide-scrollbar ::-webkit-scrollbar {
  display: none;
}
